{
  "notice": "This file is maintained by MPaaS automatically.",
  "project": "MPPushDemo_plugin",
  "copy": true,
  "targets": {
    "MPPushDemo_plugin": {
      "author": "kx",
      "time": "2020/03/31 12:03:41",
      "versions": {
        "mPaaS_LocalLog": {
          "APLog": "3.0.2.190701174234"
        },
        "mPaaS_MobileFramework": {
          "APMobileFramework": "1.0.0.200307113445",
          "mPaas": "1.0.0.200210192055",
          "APLog": "3.0.2.190701174234",
          "APRemoteLogging": "1.0.0.200323194150",
          "UTDID": "1.0.2.190226130141",
          "APProtocolBuffers": "1.0.1.190906170603"
        },
        "mPaaS_RPC": {
          "APMobileNetwork": "1.0.0.200219172832",
          "SecurityGuardSDK": "2.2.3.190326110928",
          "APSecurityUtility": "1.2.0.171012202618",
          "mPaas": "1.0.0.200210192055",
          "APLog": "3.0.2.190701174234",
          "APOpenSSL": "1.0.0.190226125531",
          "MPMgsAdapter": "1.0.0.191111163231"
        },
        "mPaaS_OpenSSL": {
          "APOpenSSL": "1.0.0.190226125531"
        },
        "mPaaS_Log": {
          "MPMasAdapter": "1.0.0.200116173050",
          "APRemoteLogging": "1.0.0.200323194150",
          "mPaas": "1.0.0.200210192055",
          "APLog": "3.0.2.190701174234",
          "UTDID": "1.0.2.190226130141",
          "APProtocolBuffers": "1.0.1.190906170603",
          "AutoTracker": "1.0.0.190909104429",
          "MPPerformance": "1.0.0.190911163314",
          "TianYan": "1.0.0.191211163039",
          "MPDataCenter": "1.0.0.190917163242",
          "APCrashReporter": "1.0.0.200108195846"
        },
        "mPaaS_Push": {
          "MPPushSDK": "1.0.0.200116191323",
          "APMobileNetwork": "1.0.0.200219172832",
          "SecurityGuardSDK": "2.2.3.190326110928",
          "APSecurityUtility": "1.2.0.171012202618",
          "mPaas": "1.0.0.200210192055",
          "APLog": "3.0.2.190701174234",
          "APOpenSSL": "1.0.0.190226125531",
          "APRemoteLogging": "1.0.0.200323194150",
          "UTDID": "1.0.2.190226130141",
          "APProtocolBuffers": "1.0.1.190906170603",
          "MPMasAdapter": "1.0.0.200116173050",
          "AutoTracker": "1.0.0.190909104429",
          "MPPerformance": "1.0.0.190911163314",
          "TianYan": "1.0.0.191211163039",
          "MPDataCenter": "1.0.0.190917163242",
          "APCrashReporter": "1.0.0.200108195846",
          "MPMgsAdapter": "1.0.0.191111163231"
        },
        "mPaaS_DataCenter": {
          "MPDataCenter": "1.0.0.190917163242",
          "mPaas": "1.0.0.200210192055",
          "APLog": "3.0.2.190701174234"
        }
      },
      "baseline": "10.1.60",
      "pversion": "32",
      "custom": false,
      "frameworks": [
        "APLog.framework",
        "APMobileFramework.framework",
        "mPaas.framework",
        "APRemoteLogging.framework",
        "UTDID.framework",
        "APProtocolBuffers.framework",
        "APMobileNetwork.framework",
        "SecurityGuardSDK.framework",
        "SGMain.framework",
        "APSecurityUtility.framework",
        "APOpenSSL.framework",
        "MPMgsAdapter.framework",
        "MPMasAdapter.framework",
        "AutoTracker.framework",
        "MPPerformance.framework",
        "TianYan.framework",
        "MPDataCenter.framework",
        "APCrashReporter.framework",
        "MPPushSDK.framework"
      ],
      "resources": [
        "APMobileFramework.bundle",
        "APRemoteLogging.bundle",
        "APMobileNetwork.bundle"
      ]
    }
  },
  "recent": "MPPushDemo_plugin"
}
